:root {
    --fonts: 'Quantico',serif;
}

@font-face {
    font-family: 'norse';
    src: url(./images-&-logos-&-fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #EBE4F5;
}

.information-text {
    height: 35vh;
}

.custom-text {
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fonts);
    color: rgb(29, 4, 50);
    font-weight: 700;
}

#upper-text {
    margin-top: 100px;
    margin-bottom: 20px;
}

.image-sidebar {
    height: 100vh;
    width: 35vw;
    background-image: url(./images-&-logos-&-fonts/space-side-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner {
    position: relative;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 34, 45,0.5);
    padding: 10px;
}

.image-credit {
    font-size: 1rem;
    text-align: center;
    color: white;
    position: relative;
    top: 80%;
}

img {
    width: 6rem;
}

h1 {
    color: white;
    font-size: 5rem;
    font-family: 'norse',sans-serif;
}

h2 {
    font-size: 1.5rem;
    font-family: var(--fonts);
    color: rgb(12, 0, 20);
    font-weight: 600;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

input {
    border: 2px solid #cdcecf;
    border-radius: 6px;
    width: 250px;
    height: 30px;
    margin-bottom: 15px;
}

button {
    position: relative;
    top: 275px;
    right: 600px;
    background-color: #18233b;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    width: 225px;
    height: 50px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a:link {
    color: #bdcddc;
}

.other-contents {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-contents {
    padding: 20px 50px;
    background-color: #E2D6F2;
    height: 30vh;
}

input[type="password"]:invalid {
    border-color: red;
}

input[type="password"]:valid {
    border-color: green;
}

input[type="password"]:focus {
  border-color: lightblue;
  outline: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input:focus {
    border-color: lightblue;
    outline: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bottom-text {
    display: flex;
    position: relative;
    top: 300px;
    right: 600px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

#log-in {
    margin-left: 3px;
    text-decoration: none;
    font-weight: 600;
    color: #18233b;
}

form {
    margin-top: 15px;
    display: flex;
    gap: 50px;
}

label {
    font-family: var(--fonts);
}