:root {
    --fonts: 'Quantico',serif;
}

@font-face {
    font-family: 'norse';
    src: url(./images-&-logos-&-fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-font {
    font-family: 'Quantico',serif;
}

.image-sidebar {
    height: 100vh;
    width: 35vw;
    background-image: url(./images-&-logos-&-fonts/space-side-image.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.banner {
    position: relative;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 34, 45,0.5);
    padding: 10px;
    width: 91%;
}

.image-credit {
    font-size: 1rem;
    text-align: center;
    color: white;
    position: relative;
    top: 80%;
    right: 35px;
}

img {
    width: 6rem;
}

h1 {
    color: white;
    font-size: 5rem;
    font-family: 'norse',sans-serif;
}

a:link {
    color: #bdcddc;
}