:root {
    --fonts: 'Quantico',serif;
}

@font-face {
    font-family: 'norse';
    src: url(./images-&-logos-&-fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.information-text {
    background-color: #EBE4F5;
    height: 35vh;
}

.custom-text {
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fonts);
    color: rgb(23, 0, 42);
    font-weight: 700;
}

#upper-text {
    margin-top: 100px;
    margin-bottom: 20px;
}

.image-sidebar {
    height: 100vh;
    width: 35vw;
    background-image: url(./images-&-logos-&-fonts/space-side-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner {
    position: relative;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 34, 45,0.5);
    padding: 10px;
}

.image-credit {
    font-size: 1rem;
    text-align: center;
    color: white;
    position: relative;
    top: 80%;
}

img {
    width: 6rem;
}

h1 {
    color: white;
    font-size: 5rem;
    font-family: 'norse',sans-serif;
}

a:link {
    color: #bdcddc;
}

.other-contents {
    display: flex;
    flex-direction: column;
    border: solid 5px red;
    flex: 1;
}